In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("DataSet.csv")
df.head()

,Date,Region_ID,Daily_Cases,Daily_Deaths,Daily_Recoveries,Hospitalized,ICU_Patients,Vaccination_Rate (%),Testing_Rate (%),Lockdown_Severity,Mobility_Index (%),Total_Active_Cases
0,2022-05-10,27,4733,328,3368,1656,280,37.60,20.35,4,70.43,1037
1,2022-11-10,54,3663,282,2629,1896,350,49.67,19.46,1,66.52,752
2,2020-05-01,4,3254,391,2846,1544,467,35.99,23.04,5,63.98,17
3,2021-04-11,88,3381,197,528,1089,341,65.70,21.18,0,89.76,2656
4,2020-11-26,23,2064,483,136,482,357,93.59,7.30,6,68.89,1445

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  10000 non-null  object
 1   Region_ID             10000 non-null  int64
 2   Daily_Cases           10000 non-null  int64
 3   Daily_Deaths          10000 non-null  int64
 4   Daily_Recoveries      10000 non-null  int64
 5   Hospitalized          10000 non-null  int64
 6   ICU_Patients          10000 non-null  int64
 7   Vaccination_Rate (%)  10000 non-null  float64
 8   Testing_Rate (%)      10000 non-null  float64
 9   Lockdown_Severity     10000 non-null  int64
 10  Mobility_Index (%)    10000 non-null  float64
 11  Total_Active_Cases    10000 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 937.6+ KB

In [5]:
df.isnull().sum()

Date                    0
Region_ID               0
Daily_Cases             0
Daily_Deaths            0
Daily_Recoveries        0
Hospitalized            0
ICU_Patients            0
Vaccination_Rate (%)    0
Testing_Rate (%)        0
Lockdown_Severity       0
Mobility_Index (%)      0
Total_Active_Cases      0
dtype: int64